* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-image: linear-gradient(to bottom, #0f172a 0%, #222643 100%); 

    background-size: cover;
    margin: 0;
    padding: 0;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.logo img {
    height: 50px;
}

.login-btn button {
    background-color: transparent;
    border: 2px solid #fcfdfd;
    border-radius: 50px;
    color: #fcfdfd;
    padding: 10px 30px;
    margin: 0 30px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.login-btn button i {
    margin-right: 15px;
}

.login-btn button img {
    flex: none;
    max-width: 30px;
    max-height: 30px;
}
.background {
    width: 100vw;
    height: 100vh;
    background-image: url(../image/back.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
